.btn-flat {
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  background: #67c3e7;
  transition: background 0.3s ease;

  &:hover {
    background: #279dcc;
    color: white;
  }
}

.btn-block {
  width: 100%;
}

.btn-details {
  color: #18a0fb;
  border-color: #18a0fb;
  border-radius: 4px;
  background-color: #f8f9fa;
  height: 39px;
  transition: background 0.3s ease;

  &:hover {
    background: #e2e6ea;
    color: #18a0fb;
  }
}

.btn-delete-edit .btn {
  margin-right: 16px;
  border-radius: 4px;
  height: 45px;
}

.btn-delete-edit .btn-outline-success:hover {
  color: white;
}

.btn-delete-edit .btn-outline-danger:hover {
  background-color: #FC4F4F;
  border-color: #FC4F4F;
}

#login-btn {
  color: white;
}

#login-btn:hover {
  color: rgb(0, 0, 0);
}
