@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&family=Questrial&display=swap');

.bg-white {
  font-family: 'Questrial', sans-serif;
}

.h2 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.form-actions {
  justify-content: center;
}

.card-category {
  background-position: center;
  height: 150px;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.big-div {
  border-radius: 25px;
}

.book-card-m0 {
  border-radius: 20px;
}

.book-card {
  border-radius: 30px;
}

.carousel-item img {
  border-radius: 30px;
}

#clinics-tittle {
  font-family: "Kanit",
    sans-serif;
  font-weight: bold;
  margin-top: 5px;


}
