.bg-white{
  font-family: 'Nunito', sans-serif;
}

.h2{
  text-align: center ;
}

.form-actions{
  justify-content: center;
}

.card-category form{
  object-fit: cover;
  background-size: cover;
  height: 150px;
}
