@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Roboto+Mono:wght@300&display=swap");

.accordion-item {
  margin: 15px 0px;
  border-radius: 20px;

  .accordion-button {
    background-color: #e7f1ff;
  }

  .btn-back-color {
    background-color: #e7f1ff;

    a {
      margin: 0px 10px;
    }
  }
}

.resultados-sin-vinetas {
  margin-bottom: 0px;

  li {
    list-style-type: none;
  }

  h2 {
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    margin: 0px;
  }

  .espaciado {
    margin: 5px 0px;

    .width-images-results {
      width: 100%;
    }
  }

  .btn {
    border-radius: 5px;
  }

  .btn-light {
    color: #18a0fb;
    border-color: #18a0fb;
    margin-right: 35px;
  }
}

.font-accordion {
  font-family: "Comfortaa", cursive;
  font-size: 23px;
  align-items: center;

  .fecha {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 20px;
    color: rgb(223, 18, 18);
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .accordion-item {
    max-width: 100%;
  }

  .font-accordion {
    font-family: "Comfortaa", cursive;
    font-size: 15px;
    align-items: center;

    img {
      width: 25px;
      height: 25px;
    }

    .fecha {
      font-size: 10px;
      margin-top: 5px;
      margin-left: 20px;
      color: #0e6dad;
    }
  }

  .resultados-sin-vinetas {
    margin-bottom: 0px;
    padding: 0;

    li {
      list-style-type: none;
    }

    h2 {
      font-family: "Comfortaa", cursive;
      font-size: 12px;
      margin: 0px;
    }

    .espaciado {
      margin: 5px 0px;

      .width-images-results {
        width: 100%;
      }
    }

    .btn {
      border-radius: 5px;
      font-size: 10px;
    }

    .btn-light {
      color: #18a0fb;
      border-color: #18a0fb;
      margin-right: 10px;
    }
  }

  .accordion-item {
    .accordion-button {
      padding: 16px 0 16px 5px;
    }
  }
}

.img-user {
  border-radius: 10px;
}
