.inputs-sesion input {
  border-radius: 25px;
}

.sesion-form {
  border-radius: 10px;
  width: 90%;
  max-width: 40rem;
}

.headers-form {
  margin-left: 50px;
  margin-right: 50px;
}
.sesion-miniform {
  margin-left: 50px;
  margin-right: 50px;
}

.button {
  margin-left: 45px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.sign {
  margin: 0px;
  padding-right: 20px;
}

.register {
  margin-right: 500px;
  text-align: center;
  justify-content: center;
  margin-bottom: 0px;
  align-items: center;
}

.background-sesion {
  background-color: white;
  flex-grow: 1;
}
.background-sesion-image {
  width: 100%;
  height: 600px;
}

.welcome-text {
  text-align: center;
}

@media (min-width: 768px) {
  .sesion-form {
    border-radius: 25px;
    width: 75%;
  }
}

.h5-form{
margin-bottom: 0px;
}
