@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&family=Questrial&display=swap');
.sesion-form{
  border-radius: 25px;
}
#user_photo{
  border-radius: 0px;
}

.h2-cuenta{
  text-align: center;
}

.signup-button{
  text-align: center;
  justify-content: center;
  margin-left: 200px;
 }
